:root {
    --primary-dark-theme-color: #181924;
    --secondary-dark-theme-color: rgb(33,32,50);
    --primary-light-theme-color: white;
    --secondary-light-theme-color: white;
    --primary-button-color: #464DF5;
    --primary-text-color: #fff;
    }
    