@import 'css/constants.css';

body {
    background-color: var(--primary-dark-theme-color);
    font-family: "Arial", sans-serif; 
    color: var(--primary-text-color);
}

.navbar  {
background-color: var(--secondary-dark-theme-color);
} 

.fixed-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}


@media (max-width: 768px) {
    .navbar-nav {
        gap: 16px;
        margin: 24px 0; 
    }

    .navbar-nav .nav-link {
        text-align: center; 
    }
}


@media (max-width: 1000px) {
    .navbar-nav {
        gap: 16px;
        margin: 24px 0; 
    }

    .navbar-nav .nav-link {
        text-align: center; 
    }
}